/* CSS reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* was changed from class style to tag style to comply with semantics standards */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* changed from header h1 because h1 only exists in the header */
h1 {
    display: inline-block;
    font-size: 48px;
}

/* there is only one span in this document, and accessability standards would dictate that a
span is used, rather than a div, p or other tag so the screen reader isn't interrupted mid-word */
span {
    color: #d9dcd6;
}

/* combined the .header div and .header div ul to reduce redundancy and streamline styling */
header ul {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
}

/* changed from .header div ul li */
header ul li {
    display: inline-block;
    margin-left: 25px;
}

/* styling links so that they are not blue or browser default style */
a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* image source was removed from CSS so that a screen reader can read the alt text
    that was added along with the change
    background-size and background-position were also removed for redundancy */
.hero {
    height: auto;
    width: 100%;
    margin-bottom: 25px;
}

/* Float-left and float-right are being kept even though they can be rolled into another style
    because its easy to add class="float-left" to an image tag to relocate it inside an element */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* content was set as a class for a div element when it can be used as a semantic tag */
content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* combined .benefit-[lead,brand,cost] into one style since they were all styled the same */
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

/* same change as for .benefit, but for .benefit-[*] h3 and img */
.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* combined .search-engine-optimization
            .online-reputation-management
            .social-media-marketing
    into one style */
.Services {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* same as above, for img tags and h2 tags */
.Services img {
    max-height: 200px;
}

.Services h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* changed .footer into footer tag to comply with semantics standards. */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
